@media print {
    .details {
        padding-top: 2cm;
        padding-bottom: 2cm; 
        padding-right: 2cm 
    }
}

body {
    margin: 0px;
    font-family: georgia;
}

div .year-label {
    font-style: italic;
    font-family: lato;
    font-weight: 200;
    margin: 1em 0em 0.5em;
}

div .subsection {
    display: grid;
    grid-template-areas:
        "timeline"
        "details"
}

div #contact {
    text-align: center;
    padding: 30px 0px 0px;
    width: 100%;
    height: 130px;
    background-color: white;
}

div #contactbox {
    width: 300px;
    margin: 0px auto;
    padding: 20px;
}

div #name {
    font-size: 32pt;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase
}

div #title {
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

div #contentsbox {
    margin: 15px 0px;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.pagebreak {
    page-break-before: always;
}

@media (min-width: 600px) {
    .subsection {
        grid-template-columns: 300px 1fr !important;
        grid-template-areas:
            "timeline details" !important;
    }
}

div .details {
    padding: 10px 30px 10px;
    grid-area: details;
}

div .timeline-block {
    grid-area: timeline;
}

.entry {
    margin: 0px 0px 0.5em;
}

.entry-title {
    font-weight: bold;
    color: #A41034;
    /* color: #ED1B2F; */
}

.subsection-title {
    font-size: 18pt;
    font-weight: bold;
    margin: 10px 20px;
}

.subsection-continue {
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 20px;
    color: #999999;
}

.timeline-brief {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13pt;
}

.timeline-years {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13pt;
}

.timeline-years path.domain {
    display: none;
}

.tick line {
    display: none;
}

.timeline {
    margin: 20px 0px 0px;
}

div.legend {
    min-height: 30px;
}


div.section-header {
    font-family: 'Lato', sans-serif;
    font-size: 36;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

div.section-title-underline {
    width: 25px;
    height: 0px;
    margin: 10px auto 0px;
    padding-bottom: 8;
    border-top-style: solid;
    border-top-width: 6px;
}
